* {
    font-family: monospace, monospace;
    background-color: #257180;
}

body {
    padding: 1rem;
}

@media screen and (min-width: 640px) {
    body {
        padding: 2rem;
    }
}


article {
    max-width: 640px;
    margin: 0 auto;
    color: #F2E5BF;
}

a {
    color: #FF9013;
}